
# Xcode
DerivedData/
*.xcworkspace
*.xcuserstate
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/

# Other files
weather-forecast-1/Connector/OpenWeatherApiKey.swift
